@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  #root{
    font-family: "Roboto";
  }

  .header{
    display: flex;
    max-width: 1400px;
    height: 680px;
    background-color: #b8e6e6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.font{
display: flex;
font-size: 76px;
color: rgb(49 59 67);
margin: 100px;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.open{
  padding: 40px;
  margin: 10px;
  font-size: 36px;
  color: #313b43;
  cursor: pointer;
  border-radius: 33.5px;
  box-shadow: 0px 4px 20px 0px rgb(106, 102, 99);
}

.window{
    display: flex;
    justify-content: center;
}